/* sign-in html */
/* hide sign in forms */
.signin-hide {
    display: none;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
}
form h1 {
    margin-bottom: 18px;
}
input.form-control {
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 10px;
}
.btn-block {
    margin-top: 10px;
}
/* end of sign-in styling */